<div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">Manage Reservations</h2>
  
  
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-gray-200">
          <th class="p-2 border">UserID</th>
          <th class="p-2 border">Slot</th>
          <th class="p-2 border">Start Time</th>
          <th class="p-2 border">End Time</th>
          <th class="p-2 border">Price</th>
          <th class="p-2 border">Features</th>
          <th class="p-2 border">Cancellation Policy (before hours)</th>
          <th class="p-2 border">Cancellation Charges</th>
          <th class="p-2 border">Checked In</th>
          <th class="p-2 border">Checked Out</th>
          <th class="p-2 border">Status</th>
          <th class="p-2 border">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td class="p-2 border ">{{ reservation.user_id }}</td>
          <td class="p-2 border ">{{ reservation.slot_id }}</td>
          <td class="p-2 border ">{{ reservation.start_time | date:'short' }}</td>
          <td class="p-2 border ">{{ reservation.end_time | date:'short' }}</td>
          <td class="p-2 border ">{{ reservation.slot.price  }}</td>
          <td class="p-2 border ">{{ reservation.slot.car_type? reservation.slot.car_type+',' : '' }}{{ reservation.slot.disabled_people_only? 'Only Disabled People': 'For All People' }},{{ reservation.slot.has_shade? 'Has Shades': 'No Shades' }} {{ reservation.slot.other_features }}</td>
          
          <td class="p-2 border ">{{ reservation.slot.cancellation_time_frame  }}</td>
          <td class="p-2 border ">{{ reservation.slot.cancellation_charges  }}</td>
          <td class="p-2 border ">{{ reservation.checked_in?'Yes': 'No'}}</td>
          <td class="p-2 border ">{{ reservation.checked_out?'Yes': 'No'  }}</td>
          <td class="p-2 border" [class.text-green-500]="reservation.status === 'active'" [class.text-red-500]="reservation.status !== 'active'">{{ reservation.status }} </td>


          <td class="p-2 border">
            <button
            *ngIf="reservation.status === 'active'"
              (click)="cancelReservation(reservation.id)"
              class="bg-red-500 text-white px-2 py-1 rounded-md"
            >
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  